/*
 ------------ Based on grey : ----------
*/



/*
 ------------ Based on green : ----------
*/


$green-frog: #709b90;

/*
$c-primary: #311b92;
$c-primary-lighter: lighten($c-primary, 30%);
$c-secondary: #fff;
$c-secondary-dark: darken($c-secondary, 3%);
$c-secondary-darker: darken($c-secondary, 20%);
*/

